
RewriteEngine on

RewriteCond %{SERVER_ADDR} !=149.56.98.6
RewriteRule ^(.*)/core/data/private/(.*)$ http://wouldyourather-private.oss-eu-central-1.aliyuncs.com/$2

RewriteCond %{SERVER_ADDR} ==149.56.98.6
RewriteRule ^(.*)/core/data/private/(.*)$ http://wouldyourather-private-test.oss-eu-central-1.aliyuncs.com/$2
