
# ALLOW MULTIPLE CROSS DOMAINS
#https://stackoverflow.com/questions/1653308/access-control-allow-origin-multiple-origin-domains

##SetEnvIf Origin "http(s)?://(www\.)?(wouldyourather.co)$" AccessControlAllowOrigin=$0
#SetEnvIf Origin "http(s)?://(www\.)?(wouldyourather.co|localhost)$" AccessControlAllowOrigin=$0
#Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin

#NEEDED FROM IOS WEBVIEW! :(
Header set Access-Control-Allow-Origin "*"

#PREVENT www-data PERMISSION ERROR REQUEST?
##https://stackoverflow.com/questions/1340001/deny-direct-access-to-all-php-files-except-index-php
#Order Allow,Deny
#Allow from all
